<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TrueMotion Project</title>
</head>
<body>
    <h2>Hello!</h2>
    <ol>
        <li>Build a REST API that receives and stores an array of GPS sensor data.</li>
        <li>Build a REST API that returns GPS points based on a time range.</li>
        <li>Build a REST API that returns aggregates based on a time range.
            <ul>
                <li>Max speed</li>
                <li>Min Speed</li>
                <li>Average Speed</li>
                <li>Median Speed</li>
            </ul>
        <li>Build a REST API that returns the estimated distance travelled.</li>
        <li>Build a REST API that returns the distance from a given coordinate at any specified
            point in time.</li>
    </ol>
</body>
</html>